<div class="row">
	<p class="col-md-9"><a href="{{this.url}}">{{this.title}}</a></p>
	<div class="col-md-3">
		<button type="button" class="btn btn-info" data-title="{{this.title}}" data-url="{{this.url}}">Save
		</button>
	</div>
</div>