<div class="row">
	<p class="col-md-9"><a href="{{this.url}}">{{this.title}}</a></p>
	<div class="col-md-3">
		<button type="button" class="btn btn-info note-button float-right" data-id="{{this._id}}">Note</button>
		<button type="button" class="btn btn-warning delete-button float-right" data-id="{{this._id}}" >X</button>
	</div>
</div>