<!DOCTYPE html>
<html>
<head>
	<title>Buffalo Bills Scraper</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/readable/bootstrap.min.css">
	<script src='https://code.jquery.com/jquery.js'></script>
</head>
<body>
	{{{ body }}}
	<script type="text/javascript">

	$("#new-tab").on("click", function(){
		$("#saved-tab").removeClass("active");
		$("#new-tab").addClass("active");
	});

	$("#saved-tab").on("click", function(){
		$("#new-tab").removeClass("active");
		$("#saved-tab").addClass("active");
	});	

	</script>
</body>
</html>