<section class="main jumbotron container">
	<h1>Buffalo Bills SubReddit</h1>
	
	<h2>Get your Buffalo Bills Subreddit Action Here</h2>

	<ul class="nav nav-tabs center">
		<li role="presentation" id="new-tab"{{#if new}}class="active"{{/if}}>
			<a href="/new">New</a>
		</li>
		<li role="presentation" id="saved-tab"{{#if saved}}class="active"{{/if}}>
			<a href="/saved">Saved</a>
		</li>
	</ul>
</section>
<section class="container">
	{{#if new}}
	<div>
		{{#each Articles}}
		{{> new-articles}}
		{{/each}}
	</div>
	{{else}}
	<div>
		{{#each Articles}}
		{{> saved-articles}}
		{{/each}}
	</div>
	{{/if}}


</section>

<div class="modal" id="notes-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Notes</h4>
			</div>
			<div class="modal-body">
				<div id="notes-view"></div>
				<form>
					<div class="form-group">
						<label for="note-title">Title</label>
						<input type="text" name="note-title" id="note-title">
					</div>
					<div class="form-group">
						<label for="note-body">Body</label>
						<input type="text" name="note-body" id="note-body">
					</div>
					<button type="submit" class="btn btn-primary" name="save-note-button" id="save-note-button">Save Note</button>
				</form>
			</div>
		</div>
	</div>
</div>